.form {
  width: 100%;
  margin: auto;
}
.form h1 {
  color: #fff;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 18px;
}

.form p {
  color: #aaa;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.toast_container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.links {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.links:last-child {
  margin-top: 37px;
}

@media screen and (max-width: 499px) {
  .form {
    padding: 30px 40px 0 40px;
  }
}
@media screen and (min-width: 500px) and (max-width: 799px) {
  .form {
    padding: 36px 70px 0 70px;
  }
}
@media screen and (min-width: 800px) {
  .form {
    padding: 40px 40px 70px 40px;
    max-width: 440px;
  }
}
@media screen and (min-width: 800px) {
  .form {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #222327;
    border-radius: 6px;
  }
}
